
#centeredmenu {
    float: left;
    width: 100%;
    background: rgba(226, 15, 15, 0.815);
    border-bottom: 1px solid black;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    border: 2px black;
    border-radius: 25px;
}

#centeredmenu ul {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
}

#centeredmenu ul li {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 50%;
}

#centeredmenu ul li a {
    display: block;
    margin: 0 0 0 0 30px;
    padding: 8px 40px;
    background-color: rgba(226, 15, 15, 0.815)red;
    color: black;
    text-decoration: none;
    line-height: 3em;
    font-size: 1.5em;
}

#centeredmenu ul li a:hover {
    background: lightgrey;
    color: black;
}

#carousel slide {
    border-radius: 35px;
}

#mission {
    text-align: center;
    font-size: 1.5em;
}

#mainphotos {
    text-align: center;
}

#sign911 {
    text-align: left;
}

#firefighter {
    text-align: right;
}
/* projects page */

#taglines {
    text-align: center;
    padding: 5px;
    margin: 5px;
    color: darkgoldenrod;
    font-size: 2em;
    font-style: italic;
}
#signbutton {
    border: 5px solid red;
}
h1 {
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 4em;
}

h2 {
    margin-left: 30px;
}

h3 {
    margin-left: 20px;
    margin: 0;
    text-indent: 30px;
}

h4 { 
    text-indent: 50px;
}

p {
    margin-left: 50px;
}

ul {
    margin-left: 30px;
}


#footer { 
    margin-left: 60px;
    border: 40px;
}

#signs {
    padding: 5px;
}

#summary {
    padding: 80px;
}

#member_form {
    padding: 40px:
}